version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile-apiuser
    ports:
      - "5000:5000"
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs
    restart: unless-stopped
